anyio
asttokens
certifi
click
comm
contourpy
cycler
debugpy
decorator
et_xmlfile
executing
filelock
fonttools
gmpy2
h11
httpcore
httpx
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib
julia
juliacall
juliapkg
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numexpr
numpy
openpyxl
opt-einsum
pandas
parso
patsy
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pyjulia
pyparsing
pysr
python-dateutil
pytz
pyzmq
safetensors
scikit-learn
scipy
seaborn
semver
setuptools
six
stack-data
statsmodels
sympy
threadpoolctl
timeout-decorator
tomli
tomlkit
tornado
tqdm
traitlets
typing_extensions
tzdata
wcwidth
wheel
